<div class="container-fluid">
    <div class="row">
        <div class= "center jumbotron img-responsive" id="index_page_img">
            <h1>Dr. Gregory Gould</h1>
            <div class="row">
                <div class="col-md-7"></div>
                <div class="col-md-5">
                    <div class="container" id="black-background">
                        <p>We do primary care the way it was always supposed to be done. </p>
                    </div>
                </div>
            </div>
            <div id="right-top-padding">
                <%= link_to "Learn More", about_path, id:"top-padding", class:"btn btn-primary btn-lg "%>
            </div>
        </div>
    </div>
</div>
<div class="container">
<div class="panel panel-default">
  <div class="panel-body" id="index-panel">
    Coming in for an appointment?  Save time and <strong>download the necessary forms <%=link_to "here", 'public/forms.pdf' %>.</strong> 
  </div>
</div>
</div>