$navbar-default-bg: black;

#logo {
    float: left;
    font-size: 1.7em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing:-1px;
    font-weight: bold;
}

#logo.hover {
    color: #fff;
    text-decoration: none;
    
}

#index_page_img{
    background-image :asset-url('building.jpeg');
    background-size :cover;
    background: contain;
    width: 100%;
    @media (min-width: 700px) {
        height: 475px;
    }
    
}

.jumbotron h1, .jumbotron h2{
    text-align: right;
    margin-bottom: 30px;
    letter-spacing: -1px;
    font-weight: bold;
    color: #000;
    
}

.jumbotron .container p {
    text-align: right;
    color: #fff;   
    margin-bottom: 10px;
}

.jumbotron p {
    text-align: right;
    color: #fff;   
}


#black-background {
    background-color: rgba(5,4,2,0.5);
}

#top-padding {
    padding-top: 10px;
    text-align: right;
}

#index-panel {
    font-size: 1.5em;
    text-align: center;
}

#right-top-padding {
    text-align: right;
    padding-top: 10px;
}

#map {
    @media (max-width: 1400px) {
        height: 400px;
        width: 760px;
    }
     @media (max-width: 1200px) {
        height: 400px;
        width: 620px;
    }
    @media (max-width: 992px) {
        height: 400px;
        width: 720px;
    }
    @media (max-width: 768px) {
        height: 200px;
        width: 370px;
    }
}

#about-pic {
    @media (max-width: 1400px) {
        width: 450px;
    }
     @media (max-width: 1200px) {
        width: 400px;
    }
    @media (max-width: 992px) {
        width: 720px;
    }
    @media (max-width: 768px) {
        width: 370px;
    }
}